<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<center>
    <form action="{:url('check')}" method="post">
        <h1>用户登录</h1>
        <p>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <input type="submit" name="login" id="login" value="登录">
            <input type="reset" name="register" id="register" value="注册">
        </p>

    </form>
</center>
</body>
</html>